.popup__close-button{
   background: url(../../../images/popup__close-button.svg);
   background-size: cover;
   color: #ffffff;
   width: 40px;
   height: 40px;
   position: absolute;
   right: -40px;
   top: -40px;
   cursor: pointer;
   transition: opacity 0.5s;
   border: 0;
}
.popup__close-button:hover{
   opacity: 0.6;
}
@media screen and (max-width: 550px){
   .popup__close-button{
      width: 26px;
      height: 26px;
      right: 1px;
   }
}